<div class="row">
  <div class="col">
    <div class="card m-2 ">
      <div class="card-body">
        <h5 class="card-title">{{ servico.nome }}</h5>
        <p class="card-text" style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{
          servico.descricao }}</p>
        <button class="btn btn-primary" data-bs-toggle="modal" [attr.data-bs-target]="'#modal-' + servico.idServico">Detalhes</button>
        <button type="button" class="btn" *ngIf="userRole == 'ROLE_ADMIN'" data-bs-toggle="modal"
            [attr.data-bs-target]="'#modal-excluir' + servico.idServico">
            <i class="bi bi-trash3"></i>
        </button>
        <button type="button" class="btn" *ngIf="userRole == 'ROLE_ADMIN'" data-bs-toggle="modal"
            [attr.data-bs-target]="'#modal-editar' + servico.idServico">
            <i class="bi bi-pen"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" [id]="'modal-' + servico.idServico" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-primary ">
              <h1 class="modal-title fs-5 text-light ">{{ servico.nome }}</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              {{ servico.descricao }}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Fechar</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal Excluir-->
<div class="modal fade" [id]="'modal-excluir' + servico.idServico" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-primary ">
              <h1 class="modal-title fs-5 text-light ">Excluir Serviço</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              Tem certeza de que deseja excluir {{servico.nome}}?
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Fechar</button>
              <button type="button" class="btn btn-danger btn-sm " data-bs-dismiss="modal" (click)="excluirServico()">Excluir</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal Editar-->
<div class="modal fade" [id]="'modal-editar' + servico.idServico" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header bg-primary ">
              <h1 class="modal-title fs-5 text-light ">Editar Serviço</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <app-servico-form 
          [servico]="this.servico"
          (servicoAtualizado)="emitirMsgEditado($event)"></app-servico-form>
      </div>
  </div>
</div>