<div class="container">
    <h1 class="mt-4 text-center">Clientes</h1>

    <div class="mt-4">

        <div class="mb-4">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" [(ngModel)]="nomeFiltro" (keyup)="filtrar()" name="nomeFiltro">
                <button class="btn btn-outline-success" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <div class="accordion" id="accordionPanelsStayOpenExample" *ngFor="let cliente of clientesFiltrados">
            <div class="accordion-item">
                <h2 class="accordion-header" [id]="'panels-'+cliente.id_user">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#panelsStayOpen-'+cliente.id_user" aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseOne">
                        <strong> {{ cliente.nome + ' ' + cliente.sobrenome }}</strong>
                    </button>
                </h2>
                <div [id]="'panelsStayOpen-'+cliente.id_user" class="accordion-collapse collapse show"
                    aria-labelledby="panelsStayOpen-headingOne">
                    <div class="accordion-body">
                        <strong>E-mail: </strong> {{ cliente.email }}
                        <hr>
                        <strong>CEP: </strong> {{ cliente.cep }}
                        <hr>
                        <strong>Logradouro: </strong> {{ cliente.logradouro }}, <strong>nº</strong>{{ cliente.numero }}
                        <hr>
                        <strong>Bairro: </strong> {{ cliente.bairro }}
                        <hr>
                        <strong>Complemento: </strong> {{ cliente.complemento }}
                        <hr>
                        <strong>Empresa: </strong> {{ cliente.empresa != null ? cliente.empresa : "Não informado" }}
                        <hr>
                        <strong>Produtos orçados anteriormente:</strong> 
                        <br>
                        <div *ngIf="cliente.produtos.length > 0">
                            <ul *ngFor="let prod of cliente.produtos">
                                <li>{{ prod.nome }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>