<div class="container">
  <h1 class="mt-4 text-center">Produtos</h1>
  <div class="row">
    

    <div class="col">
      <button
        *ngIf="usuarioLogado"
        class="btn btn-primary btn-sm float-end"
        data-bs-toggle="modal"
        data-bs-target="#modal-cadastro"
      >
        Cadastrar Produto
      </button>
    </div>
  </div>

  <p class="mb-4 p-2 text-primary ">
    Adicione os produtos desejados no carrinho e faça o seu pedido diretamente
    por whatsapp!
  </p>

  <select class="form-select mb-4" aria-label="Default select example">
    <option selected (click)="filtrarPorCategoria(0)">Filtrar por categoria</option>
    <option *ngFor="let cat of categorias"
      [value]="cat.idCategoria" (click)="filtrarPorCategoria(cat.idCategoria)">{{ cat.nome }}
    </option>
  </select>

  <div class="container">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="sucesso">
        {{ sucessoMsg }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="erro">
        {{ erroMsg }}
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="edit">
        {{ editMsg }}
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col mb-5" *ngFor="let item of produtos">
        <app-produto-card
          [produto]="item"
          (successMessage)="exibirSucesso($event)"
          (errorMessage)="exibirErro($event)"
          (editMessage)="exibirEditar($event)"
          (adicionarAoCarrinho)="adicionarAoCarrinho($event)"
          (removerDoCarrinho)="removerDoCarrinho($event)"
        ></app-produto-card>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-cadastro" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h1 class="modal-title fs-5 text-center text-light">
            Cadastrar produto
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <app-produto-form
          (enviarMsgSucesso)="exibirSucesso($event)"
          (enviarMsgErro)="exibirErro($event)"
        ></app-produto-form>
      </div>
    </div>
  </div>
</div>
