/* You can add global styles to this file, and also import other style files */

body{
    background-color: rgb(251, 251, 251);
    overflow: auto;
    height: 100vh;
    scroll-behavior: smooth;
    padding-top: 150px;  
}
 footer{
    position:relative;
    bottom: 0;
 }