<div class="card" style="width: 18rem;">
    <img src="../../../assets/img-indisponivel.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{ produto.nome }}</h5>
    </div>
    <div class="card-body">
        <a href="#" (click)="abrir($event)" *ngIf="oculto">Ver mais...</a>
        <div *ngIf="!oculto">
            <p><strong>Marca: </strong>{{produto.marca}}</p>
            <p><strong>Garantia: </strong>{{produto.garantia == "S" ? "Sim" : "Não"}}</p>
            <p><strong>Especificações: </strong>{{produto.especificacoes}}</p>
            <p><strong>Preço: R$</strong>{{produto.preco.toFixed(2).replace('.', ',')}}</p>
        </div>
        <a href="#" (click)="fechar($event)" *ngIf="!oculto">Ver menos...</a>
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-outline-success btn-sm" title="Adiconar ao carrinho" data-bs-toggle="modal"
        [attr.data-bs-target]="'#modal-adicionar' + produto.idProduto" [disabled]="produtoNoCarrinho"><i class="bi bi-plus"></i></button>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)="removeProduto()" title="Remover do carrinho" [disabled]="!produtoNoCarrinho"><i class="bi bi-x"></i></button>
        <button type="button" class="btn" *ngIf="userRole == 'ROLE_ADMIN'" data-bs-toggle="modal"
            [attr.data-bs-target]="'#modal-' + produto.idProduto">
            <i class="bi bi-trash3"></i>
        </button>
        <button type="button" class="btn" id="liveToastBtn" *ngIf="userRole == 'ROLE_ADMIN'" data-bs-toggle="modal"
        [attr.data-bs-target]="'#modal-edit' + produto.idProduto">
        <i class="bi bi-pen"></i>
        </button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" [id]="'modal-' + produto.idProduto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary ">
                <h1 class="modal-title fs-5 text-light ">Excluir Produto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza de que deseja excluir {{ produto.nome }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-danger btn-sm" (click)="deletar()"
                    data-bs-dismiss="modal">Excluir</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" [id]="'modal-edit' + produto.idProduto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary ">
                <h1 class="modal-title fs-5 text-light ">Editar Produto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
           <app-produto-form [produto]="this.produto" (editarProduto)="editar($event)"></app-produto-form>
        </div>
    </div>
</div>

<!-- Modal Adicionar Produto -->
<div class="modal fade" [id]="'modal-adicionar' + produto.idProduto" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary ">
                <h1 class="modal-title fs-5 text-light ">Quantidade</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Quantidade: </label>
                        <input type="number" class="form-control" name="quantidade" placeholder="Quantidade" [(ngModel)]="produto.quantidade" id="quantidade">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm " data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary btn-sm" (click)="addProduto()"
                    data-bs-dismiss="modal">Adicionar</button>
            </div>
        </div>
    </div>
</div>

