
footer{
    background-color: dodgerblue;
    color: white;
    height: 300px; 
    width: 100%;
    text-align: center;
}
strong{
    color: lightgray;
}

nav{
    background-color: dodgerblue;
    color: white;
    height: 100px;
    position: fixed;
    z-index: 10;
top: 30px;
}
img{
    width: 200px;
    height: 100px;
}

a{
    color: white;
   text-decoration: none;
}

#login{
    margin-right: 20px;
}

#navbarHeader{
    background-color: white;
    color: dodgerblue;
    padding-left: 30px;
    text-align: end;
    width: 100%;
    position: fixed;
    height: 30px;
    z-index: 10;
    top: 0;
}

#logoemail{
width: 30px;
height: 30px;
}

#mail{
    color: dodgerblue;
    font-weight: bold;
    text-decoration: none;
}

#logout{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


#shoppingCar{
    width: 40px;
    height: 40px;

}
