<div class="container">
  <h1 class="mt-4 text-center">Produtos</h1>
  <div class="row">


    <div class="col">
      <button *ngIf="userRole == 'ROLE_ADMIN'" class="btn btn-primary btn-sm" data-bs-toggle="modal"
        data-bs-target="#modal-cadastro">
        Cadastrar Produto
      </button>
      <button *ngIf="userRole == 'ROLE_ADMIN'" class="btn btn-primary btn-sm float-end" data-bs-toggle="modal"
        data-bs-target="#modal-categoria">
        Cadastrar Categoria
      </button>
    </div>
  </div>

  <p class="mb-4 p-2 text-primary ">
    Adicione os produtos desejados no carrinho e faça o seu pedido diretamente
    por whatsapp!
  </p>

  <select class="form-select mb-4" aria-label="Default select example">
    <option selected (click)="filtrarPorCategoria(0)">Filtrar por categoria</option>
    <option *ngFor="let cat of categorias" [value]="cat.idCategoria" (click)="filtrarPorCategoria(cat.idCategoria)">{{
      cat.nome }}
    </option>
  </select>

  <div class="container">
    <div class="col-md-12">
      <div class="alert alert-success" role="alert" *ngIf="sucesso">
        {{ sucessoMsg }}
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="erro">
        {{ erroMsg }}
      </div>
      <div class="alert alert-warning" role="alert" *ngIf="edit">
        {{ editMsg }}
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col mb-5" *ngFor="let item of produtos">
        <app-produto-card [produto]="item" (successMessage)="exibirSucesso($event)" (errorMessage)="exibirErro($event)"
          (editMessage)="exibirEditar($event)" (adicionarAoCarrinho)="adicionarAoCarrinho($event)"
          (removerDoCarrinho)="removerDoCarrinho($event)"></app-produto-card>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal-cadastro" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h1 class="modal-title fs-5 text-center text-light">
            Cadastrar produto
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <app-produto-form (enviarMsgSucesso)="exibirSucesso($event)"
          (enviarMsgErro)="exibirErro($event)"></app-produto-form>
      </div>
    </div>
  </div>

  <!-- Modal Categoria -->

  <div class="modal fade" id="modal-categoria" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h1 class="modal-title fs-5 text-center text-light">
            Cadastrar categoria
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <app-categoria-form (enviarMsgSucesso)="exibirSucesso($event)"
          (enviarMsgErro)="exibirErro($event)"></app-categoria-form>
      </div>
    </div>
  </div>

</div>

<!-- Modal Carrinho -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-primary ">
        <h5 class="modal-title text-light " id="staticBackdropLabel">Produtos Adicionados</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Ao clicar em enviar, os produtos adionados serão enviados para orçamento.</p>
        <p *ngIf="carrinho.length == 0">Você ainda não adicionou produtos ao carrinho</p>
        <div class="list-group" *ngIf="carrinho.length > 0">
          <a class="list-group-item list-group-item-action" *ngFor="let produto of carrinho">
            <div class="d-flex w-100 justify-content-between" >
              <h5 class="mb-1">{{ produto.nome }}</h5>
              <small>R${{produto.preco.toFixed(2).replace('.', ',')}}</small>
            </div>
            <small>Quantidade: {{produto.quantidade}}</small>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <p style="margin-right: 350px; display: inline;" *ngIf="carrinho.length > 0"><strong>Subtotal: </strong>R${{subtotal.toFixed(2).replace('.', ',')}}</p>
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Voltar</button>
        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="adicionarOrcamento()">Enviar</button>
      </div>
    </div>
  </div>
</div>