
<div class="modal-body ">
    <div class="col-8">
        <form enctype="multipart/form-data"> <!--Para envio das imagens-->
            <div class="form-group">
                <label>Nome: </label>
                <input type="text" name="nome" id="nome" class="form-control" [(ngModel)]="produto.nome"
                    placeholder="Nome do produto">
            </div>

            <div class="form-group">
                <label>Marca: </label>
                <input type="text" name="marca" id="marca" class="form-control" [(ngModel)]="produto.marca"
                    placeholder="Marca do produto">
            </div>

            <div class="form-group">
                <label>Garantia: </label>
                <select class="form-select" name="garantia" id="garantia" [(ngModel)]="produto.garantia">
                    <option value="S">Sim</option>
                    <option value="N">Não</option>
                </select>
            </div>

            <div class="form-group">
                <label>Categoria: </label>
                <select class="form-select" name="categoria" id="categoria" [(ngModel)]="produto.idCategoria">
                    <option *ngFor="let cat of categorias"
                    [value]="cat.idCategoria" [attr.selected]="cat.idCategoria == produto.idCategoria ? true : null">{{ cat.nome }}</option>
                </select>
            </div>

            <div class="form-group">
                <label>Preço: </label>
                <input type="number" class="form-control" name="preco" id="preco" [(ngModel)]="produto.preco" placeholder="Preço do produto">
            </div>
            <div class="form-group">
                <label>Imagem: </label>
                <input type="file" class="form-control" name="imagem" id="imagem"  placeholder="">
            </div>

            <div class="form-group">
                <label>Especificações: </label>
                <textarea name="especificacoes" id="especificacoes" cols="30" rows="3" class="form-control" [(ngModel)]="produto.especificacoes"></textarea>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-light btn-sm" (click)="limparFormulario()">Limpar</button>
    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Fechar</button>
    <button type="submit" class="btn btn-warning btn-sm" data-bs-dismiss="modal" (click)="editar()"
        *ngIf="!cadastrando">Atualizar</button>
    <button type="submit" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="cadastrar()"
        *ngIf="cadastrando">Cadastrar</button>
</div>